{% layout "server/layouts/base.liquid" %}

{% block details %}

<main class="detail-container">
  <div class="card">
    <img src="{{ animalID.photos[0].medium | default: '/assets/no-image-available.png' }}" alt="{{ animalID.name }}" 
  style="view-transition-name: animal-image-{{ animal.id }};"
  />
    <div class="info">
      <p>{{ animalID.name }}</p>

      {% assign idString = animalID.id | append: "" %}
      {% assign isFavorited = favorites contains idString %}
      <form method="POST" action="/favorite">
        <input type="hidden" name="animalId" value="{{ animalID.id }}">
        <button type="submit" class="favorite-btn">
          {% if isFavorited %}
            🩷
          {% else %}
            🤍
          {% endif %}
        </button>
      </form>
      

      <p>{{ animalID.type }}</p>
      <p>{{ animalID.breeds.primary }}</p>
      <p>{{ animalID.age }}</p>
      <p>{{ animalID.gender }}</p>

      {% comment %} <p>{{ animalID.description | default: 'Geen beschrijving beschikbaar.' }}</p> {% endcomment %}

      {% if animalID.contact.email %}
        <p><strong>Contact:</strong> <a href="mailto:{{ animalID.contact.email }}">{{ animalID.contact.email }}</a></p>
      {% endif %}

      <br>
      <br>


      {% if cityInfo %}
        <h2>📍 Locatie: {{ cityInfo.city }}, {{ cityInfo.country }}</h2>
        {% comment %} <p>Coördinaten: {{ cityInfo.latitude }}, {{ cityInfo.longitude }}</p> {% endcomment %}
      
        {% if regionInfo %}
          <p>🗺️ Regio: {{ regionInfo.name }} ({{ regionInfo.code }})</p>
        {% endif %}
      
        <iframe
          width="100%"
          height="300"
          frameborder="0"
          style="border:0; border-radius: 12px;"
          src="https://maps.google.com/maps?q={{ cityInfo.latitude }},{{ cityInfo.longitude }}&z=12&output=embed"
          allowfullscreen>
        </iframe>
      {% else %}
        <p>Locatiegegevens zijn niet beschikbaar.</p>
      {% endif %}
      

      <a href="/">← Terug naar overzicht</a>
    </div>
  </div>
</main>

{% endblock %}





