<div class="card">
  <ul class="grid">
    <li>
      {% comment %} {% if animal.primary_photo_cropped %}
        <img src="{{ animal.primary_photo_cropped.small }}" alt="{{ animal.name }}">
      {% elsif animal.photos and animal.photos[0] %}
        <img src="{{ animal.photos[0].small }}" alt="{{ animal.name }}">
      {% else %}
        <img src="/assets/no-image-available.png" alt="No image available">
      {% endif %} {% endcomment %}

      <div class="animal-card">
        <img 
          src="{{ animal.primary_photo_cropped.small | default: animal.photos[0].small }}" 
          alt="{{ animal.name }}"
          style="view-transition-name: animal-image-{{ animal.id }};"
        >
        <h3>{{ animal.name }}</h3>
      </div>


      <form method="POST" action="/favorite">
      <input type="hidden" name="animalId" value="{{ animal.id }}">

      {% assign idString = animal.id | append: "" %}
      {% assign isFavorited = favorites contains idString %}
      <button type="submit" class="favorite-btn">
        {% if isFavorited %}
          🩷
        {% else %}
          🤍
        {% endif %}
      </button>
    </form>
    </li>
  </ul>
</div>


