<div class="card">
  <ul class="grid">
    <li><img src="{{ animal.picture }}" alt="{{ animal.picture }}"></li>
    <li><strong>Name:</strong> {{ animal.name }}</li>
    <li><strong>Age:</strong> {{ animal.age }}</li>
    <li><strong>Gender:</strong> {{ animal.gender }}</li>
    <li><strong>ID:</strong> {{ animal.id }}</li>
    <li><strong>size:</strong> {{ animal.medium }}</li>
  </ul>
</div>

