<div class="card">
  <ul class="grid">
    <li>
      {% if animal.primary_photo_cropped %}
        <img src="{{ animal.primary_photo_cropped.small }}" alt="{{ animal.name }}">
      {% elsif animal.photos and animal.photos[0] %}
        <img src="{{ animal.photos[0].small }}" alt="{{ animal.name }}">
      {% else %}
        <img src="/assets/no-image-available.png" alt="No image available">
      {% endif %}

      {{ animal.name }}
      {% comment %} <br>
      <br>
      {{ animal.age }}
      <br>
      {{ animal.gender }}
      <br>
      {{ animal.id }}
      <br>
      {{ animal.size }} {% endcomment %}
    </li>
  </ul>
</div>


