<div class="card">
  <ul class="grid">
    <li>
      {% if animal.primary_photo_cropped %}
        <img src="{{ animal.primary_photo_cropped.small }}" alt="{{ animal.name }}">
      {% elsif animal.photos and animal.photos[0] %}
        <img src="{{ animal.photos[0].small }}" alt="{{ animal.name }}">
      {% else %}
        <img src="/assets/no-image-available.png" alt="No image available">
      {% endif %}

      {{ animal.name }}

       <!-- Voeg hier de favorieten-knop toe -->
       <button class="favorite-btn" data-animal-id="{{ animal.id }}">
        {% if animal.favorited %}
          ❤️  <!-- Als het dier al in de favorieten staat, laat een gevuld hart zien -->
        {% else %}
          🤍  <!-- Anders een leeg hart -->
        {% endif %}
      </button>
      
    </li>
  </ul>
</div>


