<div class="card">
  <ul class="grid">
    <li>
      {% if animal.primary_photo_cropped %}
        <img src="{{ animal.primary_photo_cropped.small }}" alt="{{ animal.name }}">
      {% elsif animal.photos and animal.photos[0] %}
        <img src="{{ animal.photos[0].small }}" alt="{{ animal.name }}">
      {% else %}
        <img src="/static/no-image.jpg" alt="No image available">
      {% endif %}
    </li>
    <li>{{ animal.name }}</li>
    <li>{{ animal.age }}</li>
    <li>{{ animal.gender }}</li>
    <li>{{ animal.id }}</li>
    <li>{{ animal.size }}</li>
  </ul>
</div>


